:delicious:
  :username: ''
  :password: ''

:email:
  :to_email: ''
  :from_name: ''
  :from_email: ''

:smtp:
  :domain: 'domain'
  :login: 'login@domain.com'
  :password: 'password'
  :server: 'smtp.gmail.com'
  :port: 587

