:delicious:
  :url: 'http://delicious.com'
  :api: 'https://api.del.icio.us'
  :username: ''
  :password: ''
  :private: false
  :fromdt: 'monday 00:00'
  :todt: 'sunday 23:59'
  :title: 'Delicious'

:email:
  :to_email: ''
  :from_name: ''
  :from_email: ''
  :title: "Title"
  :email_title: "Title"

:smtp:
  :domain: 'domain'
  :login: 'login@domain.com'
  :password: 'password'
  :server: 'smtp.gmail.com'
  :port: 587

:theme:
  :email_layout: 'templates/email_layout.haml'
  :html_layout: 'templates/html_layout.haml'
  :css: 'css/theme_1.css'
  :delicious: 'templates/delicious.haml'
  :link_row: 'templates/link_row.haml'

:static:
  :activate: true
  :domain: "http://domain.local"

:trello:
  :activate: true
  :api: 'https://api.trello.com/1'
  :key: ''
  :secret: ''
  :token: ''
  :board: ''
  :fromdt: 'monday 00:00'
  :todt: 'monday 00:00'
  :title: 'Board name'

:rss:
  :activate: true
  :url: 'http://domain.com/rss'
  :fromdt: 'monday 00:00'
