%tr
  %td(width="100%" valign="top" bgcolor="#eef0f3" style="border-bottom-width: 3px; border-bottom-color: #ffffff; border-bottom-style: solid;")
    %table(align="center" width="100%")
      %tbody
        %tr
          %td(valign="top")
            %table(align="center" width="100%")
              %tbody
                %tr
                  %td.subtitle
                    %h3= title
                %tr
                  %td.content(valign="top")
                    = content
